@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');


body{
    background-color: #131515;
  }
  
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.menu-burger {
  cursor: pointer;
  width: 30px;
  height: 20px;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-burger span {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #76ff03;
  transition: transform 0.3s, background-color 0.3s;
}

.nav-menu {
  position: absolute;
  top: 50px;
  left: -250px;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  z-index: 999;
  transition: left 0.3s;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8) inset;
}

.nav-menu.show {
  left: 20px;
}

.nav-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-menu li {
  margin: 10px 0;
}

.nav-menu a {
  color: #76ff03;
  text-decoration: none;
  font-size: 24px;
  transition: color 0.3s;
}

.nav-menu a:hover {
  color: #64dd17;
}

  .containerr {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    
    
  }
  
  .form_area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #EDDCD9;
    height: auto;
    width: auto;
    border: 2px solid #264143;
    border-radius: 20px;
    box-shadow: 3px 4px 0px 1px #E99F4C;
  
    position: relative;
    top: 5em;
    padding: 4%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    border: 4px solid #fff;
    background: rgba(42, 91, 32, 0.52);
    box-shadow: 0px 0px 64px 0px #48a95f inset, 0px 0px 16px #02360ea6;
    backdrop-filter: blur(3.5px);
    gap: 1em;
    animation: float 2s ease-in-out infinite;
  }
  
  .title {
    color: #7de29bad;
    font-weight: 900;
    font-size: 2.5em;
    margin-top: 20px;
    font-family: "Pixelify Sans";
  }
  
  .sub_title {
    font-weight: 600;
    margin: 5px 0;
    color: #d26900;
    font-family: "Pixelify Sans";

  }
  
  .form_group {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 10px;
    
  }
  
  .form_style {
    outline: none;
    border: 2px solid #264143;
    box-shadow: 3px 4px 0px 1px #E99F4C;
    width: 290px;
    padding: 12px 10px;
    border-radius: 4px;
    font-size: 15px;
    font-family: "Pixelify Sans";

  }
  
  .form_style:focus, .btn:focus {
    transform: translateY(4px);
    box-shadow: 1px 2px 0px 0px #E99F4C;
  }
  
  .btn {
    padding: 15px;
    margin: 25px 0px;
    width: 290px;
    font-size: 15px;
    background: #19862e;
    border-radius: 10px;
    font-weight: 800;
    box-shadow: 3px 3px 0px 0px #E99F4C;
    font-family: "Pixelify Sans";

  }
  
  .btn:hover {
    opacity: .9;
  }
  
  .link {
    font-weight: 800;
    color: #111111;
    padding: 5px;
  }
